.modal {
    display: none;
    position: fixed;
    background-color: rgb(231, 236, 241);
}

.modalContainer {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(0, 140, 255);
    gap: 1px;
    place-items: center;
}

.modalContainer h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#backBtn {
    display: inline-block;
}

#newGameForm {
    justify-content: space-between;
}

.errorMsg {
    display: none;
    font-size: smaller;
}

.showError {
    display: block;
}

.showModal {
    display: flex;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: separate;
}

th {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(0, 140, 255);
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(0, 140, 255);
}

