body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231, 236, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 140, 255);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 20px;
}

h1 {
    height: 5vh;
    text-align: center;
    font-size: 30px;
}

#scoreBoard {
    display: inline-flex;
    height: 1vh;
    width: 25vw;
    justify-content: space-around;
}

button {
    margin: 20px;
    padding: 15px;
    background-color: rgb(0, 140, 255);
    font-size: 16px;
    color: rgb(231, 236, 241);
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(231, 236, 241);
}

.simon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-top: 5vh;
}

.simonBtn {
    display: block;
    width: 10vw;
    height: 10vw;
    margin: 2vw;
    border-radius: 2vw;
}

#redBtn { background-color: rgb(200, 0, 0); }
#blueBtn { background-color: rgb(0, 0, 153); }
#yellowBtn { background-color: rgb(152, 152, 40); }
#greenBtn { background-color: rgb(17, 129, 17); }

#redBtn.highlight { background-color: rgb(251, 5, 5); }
#blueBtn.highlight { background-color: rgb(5, 5, 248); }
#yellowBtn.highlight { background-color: rgb(247, 247, 6); }
#greenBtn.highlight { background-color: rgb(4, 248, 4); }

/*Modals*/
/*
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(231, 236, 241);
}

.modal {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: rgb(231, 236, 241);
    width: auto;
    border-radius: 6px;
    margin: auto;
    border: 1px solid rgb(0, 140, 255);
}

h2 {
    color: rgb(0, 140, 255);
    padding-bottom: 15px;
    font-size: 30px;
}

#newGameForm {
    justify-content: space-between;
}

span {
    display: none;
    font-size: smaller;
}

#resultsHeader {
    justify-content: space-between;
}*/