<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <main id="container" class="container">
        <h1>Contactanos!</h1>
        <form id="contactForm">
            <div class="verification">
                <label for="name">Nombre</label>
                <input id="name" type="name" placeholder="Ingresá tu nombre">
                <p>Error message</p>
            </div>
            <div class="verification">
                <label for="email">Correo electrónico</label>
                <input id="email" type="email" placeholder="Ingresá tu correo electrónico">
                <p>Error message</p>
            </div>
            <div class="verification">
                <textarea cols="40" rows="8" id="comments" placeholder="Dejanos tu mensaje.." name="comments"></textarea>
                <p>Error message</p>
            </div>
        </form>
        <div class="buttons">
            <a href="mailto:david.curras@uai.edu.ar">
                <button type="submit" id="sendMessage">Enviar</button>
            </a>
            <button type="submit" id="resetMessage">Resetar</button>
        </div>
    </main>
    <script src="../js/contact.js"></script>
</body>
</html>